body {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 10vw 30vw 10vw;
  grid-gap: 1em;
  background-image:
  background-repeat: no-repeat;
  background-size: auto;
}

header
{
  margin-top: 100px;
  grid-column: 1 / span 2;
  margin-bottom: -100px;
}
main
{
margin-top: 100px;
margin-left: -400px;
}
aside
{
  margin-top: 100px;
  margin-right: 400px;
}


body {
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
}

header,
main,
aside {
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-cover video {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    background-size: 100% 100%;
    background-position: center center;
    background-size: contain;
    object-fit: cover;
}
